/* Custom Stylesheet */
body {
  background: rgb(156,211,167);
  background: linear-gradient(0deg, rgba(156,211,167,1) 5%, rgba(243,253,255,1) 84%);
}
nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  background-color: rgba(0,0,0,.6);
}
  .parallax-container .section {
    width: 100%;
  }
.parallax {
  filter: blur(6px);
  -webkit-filter: blur(6px);
}
@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.ecoSystem .card-panel {
  padding: 5px 10px 10px 10px;
  min-height: 120px;
}
.pipeLine .card-panel {
  padding: 5px 10px 10px 10px;
  min-height: 120px;
}
.feedBack .card-panel {
  padding: 1px 15px 20px 15px;
}
.card-panel {
  border-radius: 18px;
}

footer.page-footer {
  margin: 0;
}
/*------------------------------
	Animations for Javascript Scroll
------------------------------*/
.fadeInDown {
  animation-name: fadeInDown;
}
.fadeInLeft {
  animation-name: fadeInLeft;
}
.fadeInRight {
  animation-name: fadeInRight;
}
.fadeInUp {
  animation-name: fadeInUp;
}

/*------------------------------
	Mobile Styles - Breakpoint 600px
------------------------------*/
@media only screen and (max-width : 600px) {
  .ecoSystem .card-panel, .pipeLine .card-panel {
    min-height: 100px;
  }
}